/* Fonts family */
@font-face {
  font-family: Avenir-regular;
  src: url('./fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: Avenir-meduim;
  src: url('./fonts/avenir-next-medium.ttf');
}

@font-face {
  font-family: Avenir-demibold;
  src: url('./fonts/avenir-next-demibold.ttf');
}

:root {
  font-family: Avenir-regular;
  line-height: 1.5;
}

/* font family class */

.font-regular {
  font-family: Avenir-regular;
}

.font-medium {
  font-family: Avenir-meduim;
}

.font-demibold {
  font-family: Avenir-demibold;
}